//VARIABLES
@import"../base/variables";

//HEADER

/*HEADER*/


.header{
    background: nth($color,1);
    height:90vh;
   .container{
       width: 100vw;
    img{
        width: 200px;
        margin:40px auto;
    }

    h2{
        color: nth($color,4);
        font-size: 3em;
        font-family: nth($fuentes,1);
        text-align: center;
        margin: 7px auto;
    }
   }

   
}

 
@media (max-width:768px) {

    h2{
        font-size: 1px;
    }

}
       

    

