//VARIABLES
@import"../base/variables";

//PROYECTOS


/*PROYECTOS*/
#misProyectos{
    background-color: nth($color,1);
    padding: 2em 0 8em;  

    h3{
        font-size: 60px;
        font-family: nth($fuentes,1);
        margin:1em;
        display: block;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: nth($color,4);
    }

   

    .containerProyectos{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

         .card{
             padding: 50px auto;
            
              .card-body{
                background-color: nth($color,3);
                color: nth($color,1);

                h5{
                    font-family: nth($fuentes,1);
                    font-size: 25px;
                }

                p{
                    font-family: nth($fuentes,2);
                    
                }

                .btn{
                    background-color: nth($color,4);
                    justify-content: center;
                }
        
        }
             }

           
        
        }

        

        .card-body{
            background-color: nth($color,3);
            padding: 50px;
        }
      
    }

      
    

